

#first{

  height: 200px;


}


#a {
  background-color: lightblue;
  float: left;
  width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 100px;

 }

#b { background-color: pink;
float: left;
width: 100px;
height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
text-align: center;
line-height: 100px;


 }

#c { background-color: lightgray;
 margin-top: 100px;


 }
